:root {
    --clr-cell-a1: #ffffff;
    --clr-cell-a2: #188d09;
    --clr-cell-a3: #1edf05;
    --clr-cell-b1: #7c7c7c;
    --clr-cell-b2: red;
    --clr-cell-b3: #d6b5d6;
    --clr-cell-c1: #000000;
    --clr-cell-c2: #595d96;
    --clr-cell-c3: #0fb5bb;

    --ff-primary: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  body {
    font-family: var(--ff-primary);
    font-size: 1.1rem;
    line-height: 1.5;
  }

  h1 {
    line-height: 1;
    margin-bottom: 1em;
  }

  header,
  section {
    padding: 3rem auto;
  }

  .text-center {
    text-align: center;
  }

  .text-bold {
    font-weight: 700;
  }

  .items-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .instructions {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  .container {
    margin-inline: auto;
    width: min(90%, 65rem);
  }

  /* .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cell {
    height: 50px;
    width: 50px;
  } */

  .grid {
    display: flex; /* establish flex container */
    flex-wrap: wrap; /* enable flex items to wrap */
    justify-content: center;
    /* width: min(50%, 65rem); */
  }
  .cell {
    flex: 0 0 33%; /* don't grow, don't shrink, width */
    height: 75px;
    margin-bottom: 0;
    /* background-color: #999; */
  }

  /* .cell:nth-child(3n) {
background-color: #F00;
} */

  /* #cell-a1 {
    background-color: var(--clr-cell-a1);
  }

  #cell-a2 {
    background-color: var(--clr-cell-a2);
  }

  #cell-a3 {
    background-color: var(--clr-cell-a3);
  } */

  #cell-b1 {
    background-color: var(--clr-cell-b1);
  }

  /* #cell-b2 {
    background-color: var(--clr-cell-b2);
  } */

  /* #cell-b3 {
    background-color: var(--clr-cell-b3);
  } */

  #cell-c1 {
    background-color: var(--clr-cell-c1);
  }

  /* #cell-c2 {
    background-color: var(--clr-cell-c2);
  } */

  /* #cell-c3 {
    background-color: var(--clr-cell-c3);
  } */